TFScode/SiteFuel.Exchange/SiteFuel.Exchange.SourceCode/SiteFuel.Exchange.Domain/Connected Services/TelaFuelServiceReference/TelaFuelService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Validation" />
  <xs:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ServiceFaultInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="InnerFault" nillable="true" type="tns:ServiceFaultInfo" />
      <xs:element minOccurs="0" name="InternalMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Validation" minOccurs="0" name="RuleViolations" nillable="true" type="q1:ArrayOfRuleViolation" />
      <xs:element minOccurs="0" name="ServiceFaultGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ServiceFaultType" type="tns:ServiceFaultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFaultInfo" nillable="true" type="tns:ServiceFaultInfo" />
  <xs:simpleType name="ServiceFaultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GeneralServiceFault" />
      <xs:enumeration value="AuthenticationFailure" />
      <xs:enumeration value="ValidationFailure" />
      <xs:enumeration value="OrderNumberNotFound" />
      <xs:enumeration value="InvalidOrderStatusChange" />
      <xs:enumeration value="ServiceCallNotPermitted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceFaultType" nillable="true" type="tns:ServiceFaultType" />
</xs:schema>