TFScode/SiteFuel.Exchange/SiteFuel.Exchange.SourceCode/SiteFuel.Exchange.Domain/Connected Services/TelaFuelServiceReference/TelaFuelService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://api.telapoint.com/TelaFuel/v2" elementFormDefault="qualified" targetNamespace="http://api.telapoint.com/TelaFuel/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" />
  <xs:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Models" />
  <xs:element name="CheckConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" minOccurs="0" name="status" type="q1:OrderStatusEnum" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OrdersGetByStatusResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByStatusParentCompanyGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" minOccurs="0" name="status" type="q3:OrderStatusEnum" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentCompanyGuid" type="q4:guid" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByStatusParentCompanyGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OrdersGetByStatusParentCompanyGUIDResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByStatusLastUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" minOccurs="0" name="status" type="q6:OrderStatusEnum" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByStatusLastUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OrdersGetByStatusLastUpdateResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByStatusParentCompanyGUIDLastUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" minOccurs="0" name="status" type="q8:OrderStatusEnum" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentCompanyGuid" type="q9:guid" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByStatusParentCompanyGUIDLastUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OrdersGetByStatusParentCompanyGUIDLastUpdateResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByMobileStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" minOccurs="0" name="mobileStatus" type="q11:OrderMobileStatusEnum" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByMobileStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OrdersGetByMobileStatusResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderGetByOrderNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderGetByOrderNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Models" minOccurs="0" name="OrderGetByOrderNumberResult" nillable="true" type="q13:OrderFuel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderGetOrderFreightXmlByOrderNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderGetOrderFreightXmlByOrderNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderGetOrderFreightXmlByOrderNumberResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Models" minOccurs="0" name="newOrder" nillable="true" type="q14:OrderFuel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderAddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderStatusChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" minOccurs="0" name="newStatus" type="q15:OrderStatusEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderStatusChangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderMobileStatusChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" minOccurs="0" name="newStatus" type="q16:OrderMobileStatusEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderMobileStatusChangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Models" minOccurs="0" name="order" nillable="true" type="q17:OrderFuel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByAckNeeded">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByAckNeededResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OrdersGetByAckNeededResult" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderAck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderAckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByPONumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersGetByPONumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OrdersGetByPONumberResult" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>