TFScode/SiteFuel.Exchange/SiteFuel.Exchange.SourceCode/SiteFuel.Exchange.Domain/Connected Services/TelaFuelServiceReference/TelaFuelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://api.telapoint.com/TelaFuel/v2" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TelaFuelService" targetNamespace="http://api.telapoint.com/TelaFuel/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ITelaFuelService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://api.telapoint.com/TelaFuel/v2/Imports">
      <xsd:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd0" namespace="http://api.telapoint.com/TelaFuel/v2" />
      <xsd:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" />
      <xsd:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Validation" />
      <xsd:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" />
      <xsd:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITelaFuelService_CheckConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnection" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_CheckConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_CheckConnection_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q1:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByStatus" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByStatus_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q2:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByStatusParentCompanyGUID_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByStatusParentCompanyGUID" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByStatusParentCompanyGUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByStatusParentCompanyGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByStatusParentCompanyGUID_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q3:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByStatusLastUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByStatusLastUpdate" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByStatusLastUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByStatusLastUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByStatusLastUpdate_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q4:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByStatusParentCompanyGUIDLastUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByStatusParentCompanyGUIDLastUpdate" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByStatusParentCompanyGUIDLastUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByStatusParentCompanyGUIDLastUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByStatusParentCompanyGUIDLastUpdate_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q5:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByMobileStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByMobileStatus" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByMobileStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByMobileStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByMobileStatus_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q6:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderGetByOrderNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderGetByOrderNumber" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderGetByOrderNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderGetByOrderNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderGetByOrderNumber_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q7:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderGetOrderFreightXmlByOrderNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderGetOrderFreightXmlByOrderNumber" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderGetOrderFreightXmlByOrderNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderGetOrderFreightXmlByOrderNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderGetOrderFreightXmlByOrderNumber_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q8:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderAdd" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderAddResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderAdd_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q9:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderStatusChange_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderStatusChange" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderStatusChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderStatusChangeResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderStatusChange_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q10:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderMobileStatusChange_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderMobileStatusChange" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderMobileStatusChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderMobileStatusChangeResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderMobileStatusChange_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q11:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderUpdate" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderUpdate_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q12:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByAckNeeded_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByAckNeeded" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByAckNeeded_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByAckNeededResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByAckNeeded_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q13:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderAck_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderAck" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderAck_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderAckResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrderAck_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q14:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByPONumber_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByPONumber" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByPONumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdersGetByPONumberResponse" />
  </wsdl:message>
  <wsdl:message name="ITelaFuelService_OrdersGetByPONumber_ServiceFaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/TelaPoint.Api.Services" name="detail" element="q15:ServiceFaultInfo" />
  </wsdl:message>
  <wsdl:portType name="ITelaFuelService">
    <wsdl:operation name="CheckConnection">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/CheckConnection" message="tns:ITelaFuelService_CheckConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/CheckConnectionResponse" message="tns:ITelaFuelService_CheckConnection_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/CheckConnectionServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_CheckConnection_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByStatus">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatus" message="tns:ITelaFuelService_OrdersGetByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusResponse" message="tns:ITelaFuelService_OrdersGetByStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrdersGetByStatus_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByStatusParentCompanyGUID">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusParentCompanyGUID" message="tns:ITelaFuelService_OrdersGetByStatusParentCompanyGUID_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusParentCompanyGUIDResponse" message="tns:ITelaFuelService_OrdersGetByStatusParentCompanyGUID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusParentCompanyGUIDServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrdersGetByStatusParentCompanyGUID_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByStatusLastUpdate">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusLastUpdate" message="tns:ITelaFuelService_OrdersGetByStatusLastUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusLastUpdateResponse" message="tns:ITelaFuelService_OrdersGetByStatusLastUpdate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusLastUpdateServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrdersGetByStatusLastUpdate_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByStatusParentCompanyGUIDLastUpdate">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusParentCompanyGUIDLastUpdate" message="tns:ITelaFuelService_OrdersGetByStatusParentCompanyGUIDLastUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusParentCompanyGUIDLastUpdateResponse" message="tns:ITelaFuelService_OrdersGetByStatusParentCompanyGUIDLastUpdate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusParentCompanyGUIDLastUpdateServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrdersGetByStatusParentCompanyGUIDLastUpdate_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByMobileStatus">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByMobileStatus" message="tns:ITelaFuelService_OrdersGetByMobileStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByMobileStatusResponse" message="tns:ITelaFuelService_OrdersGetByMobileStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByMobileStatusServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrdersGetByMobileStatus_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderGetByOrderNumber">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderGetByOrderNumber" message="tns:ITelaFuelService_OrderGetByOrderNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderGetByOrderNumberResponse" message="tns:ITelaFuelService_OrderGetByOrderNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderGetByOrderNumberServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrderGetByOrderNumber_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderGetOrderFreightXmlByOrderNumber">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderGetOrderFreightXmlByOrderNumber" message="tns:ITelaFuelService_OrderGetOrderFreightXmlByOrderNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderGetOrderFreightXmlByOrderNumberResponse" message="tns:ITelaFuelService_OrderGetOrderFreightXmlByOrderNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderGetOrderFreightXmlByOrderNumberServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrderGetOrderFreightXmlByOrderNumber_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderAdd">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderAdd" message="tns:ITelaFuelService_OrderAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderAddResponse" message="tns:ITelaFuelService_OrderAdd_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderAddServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrderAdd_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderStatusChange">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderStatusChange" message="tns:ITelaFuelService_OrderStatusChange_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderStatusChangeResponse" message="tns:ITelaFuelService_OrderStatusChange_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderStatusChangeServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrderStatusChange_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderMobileStatusChange">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderMobileStatusChange" message="tns:ITelaFuelService_OrderMobileStatusChange_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderMobileStatusChangeResponse" message="tns:ITelaFuelService_OrderMobileStatusChange_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderMobileStatusChangeServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrderMobileStatusChange_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderUpdate">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderUpdate" message="tns:ITelaFuelService_OrderUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderUpdateResponse" message="tns:ITelaFuelService_OrderUpdate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderUpdateServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrderUpdate_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByAckNeeded">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByAckNeeded" message="tns:ITelaFuelService_OrdersGetByAckNeeded_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByAckNeededResponse" message="tns:ITelaFuelService_OrdersGetByAckNeeded_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByAckNeededServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrdersGetByAckNeeded_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderAck">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderAck" message="tns:ITelaFuelService_OrderAck_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderAckResponse" message="tns:ITelaFuelService_OrderAck_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderAckServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrderAck_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByPONumber">
      <wsdl:input wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByPONumber" message="tns:ITelaFuelService_OrdersGetByPONumber_InputMessage" />
      <wsdl:output wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByPONumberResponse" message="tns:ITelaFuelService_OrdersGetByPONumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByPONumberServiceFaultInfoFault" name="ServiceFaultInfoFault" message="tns:ITelaFuelService_OrdersGetByPONumber_ServiceFaultInfoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ITelaFuelService" type="tns:ITelaFuelService">
    <wsp:PolicyReference URI="#CustomBinding_ITelaFuelService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckConnection">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/CheckConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByStatus">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByStatusParentCompanyGUID">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusParentCompanyGUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByStatusLastUpdate">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusLastUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByStatusParentCompanyGUIDLastUpdate">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByStatusParentCompanyGUIDLastUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByMobileStatus">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByMobileStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrderGetByOrderNumber">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderGetByOrderNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrderGetOrderFreightXmlByOrderNumber">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderGetOrderFreightXmlByOrderNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrderAdd">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrderStatusChange">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderStatusChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrderMobileStatusChange">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderMobileStatusChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrderUpdate">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByAckNeeded">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByAckNeeded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrderAck">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrderAck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrdersGetByPONumber">
      <soap:operation soapAction="http://api.telapoint.com/TelaFuel/v2/ITelaFuelService/OrdersGetByPONumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultInfoFault">
        <soap:fault use="literal" name="ServiceFaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TelaFuelService">
    <wsdl:port name="CustomBinding_ITelaFuelService" binding="tns:CustomBinding_ITelaFuelService">
      <soap:address location="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>