TFScode/SiteFuel.Exchange/SiteFuel.Exchange.SourceCode/SiteFuel.Exchange.Domain/Connected Services/TelaFuelServiceReference/TelaFuelService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://api.uat.telapoint.com/APIv2/TelaFuelService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" />
  <xs:complexType name="OrderFuel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessorialCharge1" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="AccessorialCharge2" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="AccessorialCharge3" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="AccessorialCharge4" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="AccessorialCharge5" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="AccessorialDesc1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccessorialDesc2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccessorialDesc3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccessorialDesc4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccessorialDesc5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActualMiles" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="BillToAddress1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillToAddress2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillToCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillToGUID" type="ser:guid" />
          <xs:element minOccurs="0" name="BillToName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillToPostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillToStateProvince" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" minOccurs="0" name="BillToType" type="q1:BillToTypeEnum" />
          <xs:element minOccurs="0" name="CarrierGUID" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="CarrierLookup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CarrierName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompletionDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CreationDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CreationDateTimeLocal" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CreationDateTimeLocalTimeZone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DispatchMarketDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DriverFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DriverLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FreightLaneGUID" type="ser:guid" />
          <xs:element minOccurs="0" name="FreightLaneLookup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FreightLaneName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDelivered" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastUpdateDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Mileage" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="OrderDrops" nillable="true" type="tns:ArrayOfOrderDrop" />
          <xs:element minOccurs="0" name="OrderLifts" nillable="true" type="tns:ArrayOfOrderLift" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" minOccurs="0" name="OrderMobileStatus" type="q2:OrderMobileStatusEnum" />
          <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" minOccurs="0" name="OrderStatus" type="q3:OrderStatusEnum" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" minOccurs="0" name="OrderType" type="q4:OrderTypeEnum" />
          <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentCompanyGUID" type="ser:guid" />
          <xs:element minOccurs="0" name="RatedMiles" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShiftNumber" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="SpecialNotes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TMWBillToId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TMWCarrierId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TMWFreightLaneID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalAccessorials" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TrailerNumber1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrailerNumber2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TurnTime" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="WorkDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderFuel" nillable="true" type="tns:OrderFuel" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
  <xs:complexType name="ArrayOfOrderDrop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDrop" nillable="true" type="tns:OrderDrop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDrop" nillable="true" type="tns:ArrayOfOrderDrop" />
  <xs:complexType name="OrderDrop">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Driver" nillable="true" type="tns:Driver" />
          <xs:element minOccurs="0" name="DriverGUID" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="DropDuration" type="xs:short" />
          <xs:element minOccurs="0" name="DropProducts" nillable="true" type="tns:ArrayOfDropProduct" />
          <xs:element minOccurs="0" name="DroppedDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DroppedDateTimeLocal" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DroppedDateTimeLocalTimeZone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DroppedDateTimeOverride" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EarliestDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EarliestDateTimeLocal" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EarliestDateTimeLocalTimeZone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EarliestDateTimeOverride" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsPriceRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="LatestDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LatestDateTimeLocal" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LatestDateTimeLocalTimeZone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LatestDateTimeOverride" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
          <xs:element minOccurs="0" name="OrderTypeID" type="xs:short" />
          <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScheduleDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ScheduleDateTimeOverride" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScheduledDateTimeLocal" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ScheduledDateTimeLocalTimeZone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SequenceNumber" type="xs:short" />
          <xs:element minOccurs="0" name="SiteAddress1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteGUID" type="ser:guid" />
          <xs:element minOccurs="0" name="SiteLookup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SitePhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteStandardNote" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteStateProvince" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TMWSiteId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderDrop" nillable="true" type="tns:OrderDrop" />
  <xs:complexType name="Driver">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="BusinessPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CertificationCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DriverLicenseNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DriverNumber" type="xs:int" />
          <xs:element minOccurs="0" name="EMailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EffectiveEndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ExpirationCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pager" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StateProvinceId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Driver" nillable="true" type="tns:Driver" />
  <xs:complexType name="ArrayOfDropProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DropProduct" nillable="true" type="tns:DropProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDropProduct" nillable="true" type="tns:ArrayOfDropProduct" />
  <xs:complexType name="DropProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="DispatchedQuantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GrossQuantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LogicalTankGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="NetQuantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderQuantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductGrade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductLookup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceLiftSequenceNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TMWProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TMWTankId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TankLookup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TankNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DropProduct" nillable="true" type="tns:DropProduct" />
  <xs:complexType name="ArrayOfOrderLift">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderLift" nillable="true" type="tns:OrderLift" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderLift" nillable="true" type="tns:ArrayOfOrderLift" />
  <xs:complexType name="OrderLift">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AllocationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="BillOfLadingNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractGUID" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="ContractName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Driver" nillable="true" type="tns:Driver" />
          <xs:element minOccurs="0" name="FedTerminalID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsInvoiceReconciled" type="xs:boolean" />
          <xs:element minOccurs="0" name="LiftDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LiftDateTimeLocal" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LiftDateTimeLocalTimeZone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LiftDateTimeOverride" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LiftDuration" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="LiftProducts" nillable="true" type="tns:ArrayOfLiftProduct" />
          <xs:element minOccurs="0" name="LoadingNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
          <xs:element minOccurs="0" name="OriginID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlannedLiftDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RegionCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegionCityCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegionStateProvince" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SequenceNumber" type="xs:short" />
          <xs:element minOccurs="0" name="StrippedBolNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplierAccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplierGUID" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SupplierLookup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplierShortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TMWSupplierId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TMWTerminalId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminalCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminalCityCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminalGUID" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="TerminalLookup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminalShortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminalStateProvince" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderLift" nillable="true" type="tns:OrderLift" />
  <xs:complexType name="ArrayOfLiftProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LiftProduct" nillable="true" type="tns:LiftProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLiftProduct" nillable="true" type="tns:ArrayOfLiftProduct" />
  <xs:complexType name="LiftProduct">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgreementId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Difference" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="DispatchedQuantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Freight" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="GrossQuantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsInvoiceReconciled" type="xs:boolean" />
          <xs:element minOccurs="0" name="NetQuantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
          <xs:element minOccurs="0" name="OrderQuantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PriceId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ProductGUID" type="ser:guid" />
          <xs:element minOccurs="0" name="ProductLookup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SequenceNumber" type="xs:int" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TMWProductId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LiftProduct" nillable="true" type="tns:LiftProduct" />
</xs:schema>