TFScode/SiteFuel.Exchange/SiteFuel.Exchange.SourceCode/SiteFuel.Exchange.Domain/Connected Services/TelaFuelServiceReference/TelaFuelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Enumerations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="OrderStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="New" />
      <xs:enumeration value="Accepted" />
      <xs:enumeration value="Declined" />
      <xs:enumeration value="Dispatched" />
      <xs:enumeration value="Delivered" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="OnHold" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Created" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderStatusEnum" nillable="true" type="tns:OrderStatusEnum" />
  <xs:simpleType name="OrderMobileStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Staged" />
      <xs:enumeration value="Downloaded" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Delivered" />
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderMobileStatusEnum" nillable="true" type="tns:OrderMobileStatusEnum" />
  <xs:simpleType name="BillToTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Company" />
      <xs:enumeration value="OwningCompany" />
      <xs:enumeration value="Site" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BillToTypeEnum" nillable="true" type="tns:BillToTypeEnum" />
  <xs:simpleType name="OrderTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Standard" />
      <xs:enumeration value="Split" />
      <xs:enumeration value="Retain" />
      <xs:enumeration value="SplitRetain" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderTypeEnum" nillable="true" type="tns:OrderTypeEnum" />
</xs:schema>