TFScode/SiteFuel.Exchange/SiteFuel.Exchange.SourceCode/SiteFuel.Exchange.Domain/Connected Services/TelaFuelServiceReference/TelaFuelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Validation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TelaPoint.Api.TelaFuel.Validation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRuleViolation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RuleViolation" nillable="true" type="tns:RuleViolation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRuleViolation" nillable="true" type="tns:ArrayOfRuleViolation" />
  <xs:complexType name="RuleViolation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleViolationType" type="tns:RuleViolationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RuleViolation" nillable="true" type="tns:RuleViolation" />
  <xs:simpleType name="RuleViolationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GeneralRuleViolation" />
      <xs:enumeration value="BadSiteNumber" />
      <xs:enumeration value="BadSequenceNumber" />
      <xs:enumeration value="BadOrderDropInfo" />
      <xs:enumeration value="BadOrderLiftInfo" />
      <xs:enumeration value="BadOrderStatus" />
      <xs:enumeration value="CompanyNotFound" />
      <xs:enumeration value="InconsistentUpdate" />
      <xs:enumeration value="InconsistentData" />
      <xs:enumeration value="LookupFailure" />
      <xs:enumeration value="InsufficientPermission" />
      <xs:enumeration value="UnspecifiedTimeZone" />
      <xs:enumeration value="FieldReqiredForStatusChange" />
      <xs:enumeration value="UnsupportedOrderStatusChange" />
      <xs:enumeration value="XREFNotFound" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RuleViolationType" nillable="true" type="tns:RuleViolationType" />
</xs:schema>