TFScode/SiteFuel.Exchange/SiteFuel.Exchange.SourceCode/SiteFuel.Exchange.Domain/Connected Services/PDIEnterprise/pdienterpriseweb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://profdata.com.Petronet" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://profdata.com.Petronet" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PDI Enterprise Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://profdata.com.Petronet">
      <s:element name="GetMasterData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMasterDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMasterDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCredentials" type="tns:UserCredentials" />
      <s:complexType name="UserCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartnerID" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="CustomerCreditCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AdditionalChargeAmount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerCreditCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerCreditCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFuelOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TargetOrderStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PDIFuelOrders">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFuelOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFuelOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFuelOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TargetOrderStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PDIFuelOrders">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFuelOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateFuelOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFuelLoad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TargetOrderStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PDIFuelLoads">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFuelLoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateFuelLoadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFuelOrderToLoad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoadNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFuelOrderToLoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFuelOrderToLoadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNonInventoryOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TargetOrderStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PDINonInventoryOrders">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNonInventoryOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNonInventoryOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelFuelOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDIFuelOrders">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelFuelOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelFuelOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFuelOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDIGetFuelOrdersFilter">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFuelOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFuelOrdersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFuelLoads">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDIGetFuelLoadsFilter">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFuelLoadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFuelLoadsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrderAuditMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderKey" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AlternateReferenceNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuditMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrderAuditMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddOrderAuditMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFuelOrigins">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDIGetFuelOriginsInput">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFuelOriginsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFuelOriginsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVendorFuelContractsByDestination">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDIGetVendorFuelContractsByDestinationInput">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVendorFuelContractsByDestinationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVendorFuelContractsByDestinationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelNonInventoryOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDINonInventoryOrders">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelNonInventoryOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelNonInventoryOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddWarehouseOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TargetOrderStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PDIWarehouseOrders">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddWarehouseOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddWarehouseOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWarehouseOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TargetOrderStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PDIWarehouseOrders">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWarehouseOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateWarehouseOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelWarehouseOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDIWarehouseOrders">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelWarehouseOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelWarehouseOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWarehouseOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDIGetWarehouseOrdersFilter">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWarehouseOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWarehouseOrdersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMasterDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetMasterData" />
  </wsdl:message>
  <wsdl:message name="GetMasterDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetMasterDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetMasterDataUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="CustomerCreditCheckSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerCreditCheck" />
  </wsdl:message>
  <wsdl:message name="CustomerCreditCheckSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerCreditCheckResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerCreditCheckUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="AddFuelOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddFuelOrder" />
  </wsdl:message>
  <wsdl:message name="AddFuelOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddFuelOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddFuelOrderUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="UpdateFuelOrderSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFuelOrder" />
  </wsdl:message>
  <wsdl:message name="UpdateFuelOrderSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFuelOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFuelOrderUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="UpdateFuelLoadSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFuelLoad" />
  </wsdl:message>
  <wsdl:message name="UpdateFuelLoadSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFuelLoadResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFuelLoadUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="AddFuelOrderToLoadSoapIn">
    <wsdl:part name="parameters" element="tns:AddFuelOrderToLoad" />
  </wsdl:message>
  <wsdl:message name="AddFuelOrderToLoadSoapOut">
    <wsdl:part name="parameters" element="tns:AddFuelOrderToLoadResponse" />
  </wsdl:message>
  <wsdl:message name="AddFuelOrderToLoadUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="AddNonInventoryOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddNonInventoryOrder" />
  </wsdl:message>
  <wsdl:message name="AddNonInventoryOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddNonInventoryOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddNonInventoryOrderUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="CancelFuelOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CancelFuelOrder" />
  </wsdl:message>
  <wsdl:message name="CancelFuelOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CancelFuelOrderResponse" />
  </wsdl:message>
  <wsdl:message name="CancelFuelOrderUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="GetFuelOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetFuelOrders" />
  </wsdl:message>
  <wsdl:message name="GetFuelOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetFuelOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetFuelOrdersUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="GetFuelLoadsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFuelLoads" />
  </wsdl:message>
  <wsdl:message name="GetFuelLoadsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFuelLoadsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFuelLoadsUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="AddOrderAuditMessageSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrderAuditMessage" />
  </wsdl:message>
  <wsdl:message name="AddOrderAuditMessageSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrderAuditMessageResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrderAuditMessageUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="GetOrderStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderStatus" />
  </wsdl:message>
  <wsdl:message name="GetOrderStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderStatusUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="GetFuelOriginsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFuelOrigins" />
  </wsdl:message>
  <wsdl:message name="GetFuelOriginsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFuelOriginsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFuelOriginsUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="GetVendorFuelContractsByDestinationSoapIn">
    <wsdl:part name="parameters" element="tns:GetVendorFuelContractsByDestination" />
  </wsdl:message>
  <wsdl:message name="GetVendorFuelContractsByDestinationSoapOut">
    <wsdl:part name="parameters" element="tns:GetVendorFuelContractsByDestinationResponse" />
  </wsdl:message>
  <wsdl:message name="GetVendorFuelContractsByDestinationUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="CancelNonInventoryOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CancelNonInventoryOrder" />
  </wsdl:message>
  <wsdl:message name="CancelNonInventoryOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CancelNonInventoryOrderResponse" />
  </wsdl:message>
  <wsdl:message name="CancelNonInventoryOrderUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="AddWarehouseOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddWarehouseOrder" />
  </wsdl:message>
  <wsdl:message name="AddWarehouseOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddWarehouseOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddWarehouseOrderUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="UpdateWarehouseOrderSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWarehouseOrder" />
  </wsdl:message>
  <wsdl:message name="UpdateWarehouseOrderSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWarehouseOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWarehouseOrderUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="CancelWarehouseOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CancelWarehouseOrder" />
  </wsdl:message>
  <wsdl:message name="CancelWarehouseOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CancelWarehouseOrderResponse" />
  </wsdl:message>
  <wsdl:message name="CancelWarehouseOrderUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="GetWarehouseOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetWarehouseOrders" />
  </wsdl:message>
  <wsdl:message name="GetWarehouseOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetWarehouseOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetWarehouseOrdersUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:portType name="PDIEnterpriseWebSoap">
    <wsdl:operation name="GetMasterData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method gets master data</wsdl:documentation>
      <wsdl:input message="tns:GetMasterDataSoapIn" />
      <wsdl:output message="tns:GetMasterDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerCreditCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method does credit check on a given user</wsdl:documentation>
      <wsdl:input message="tns:CustomerCreditCheckSoapIn" />
      <wsdl:output message="tns:CustomerCreditCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFuelOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to add an order</wsdl:documentation>
      <wsdl:input message="tns:AddFuelOrderSoapIn" />
      <wsdl:output message="tns:AddFuelOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFuelOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to update an order</wsdl:documentation>
      <wsdl:input message="tns:UpdateFuelOrderSoapIn" />
      <wsdl:output message="tns:UpdateFuelOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFuelLoad">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to update a load</wsdl:documentation>
      <wsdl:input message="tns:UpdateFuelLoadSoapIn" />
      <wsdl:output message="tns:UpdateFuelLoadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFuelOrderToLoad">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to add a fuel order to an existing load</wsdl:documentation>
      <wsdl:input message="tns:AddFuelOrderToLoadSoapIn" />
      <wsdl:output message="tns:AddFuelOrderToLoadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNonInventoryOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to add a non-inventory order</wsdl:documentation>
      <wsdl:input message="tns:AddNonInventoryOrderSoapIn" />
      <wsdl:output message="tns:AddNonInventoryOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelFuelOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to cancel an order</wsdl:documentation>
      <wsdl:input message="tns:CancelFuelOrderSoapIn" />
      <wsdl:output message="tns:CancelFuelOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFuelOrders">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to get fuel orders</wsdl:documentation>
      <wsdl:input message="tns:GetFuelOrdersSoapIn" />
      <wsdl:output message="tns:GetFuelOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFuelLoads">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to get fuel loads</wsdl:documentation>
      <wsdl:input message="tns:GetFuelLoadsSoapIn" />
      <wsdl:output message="tns:GetFuelLoadsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrderAuditMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method adds an event audit to the specified order</wsdl:documentation>
      <wsdl:input message="tns:AddOrderAuditMessageSoapIn" />
      <wsdl:output message="tns:AddOrderAuditMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method gets the requested orders status</wsdl:documentation>
      <wsdl:input message="tns:GetOrderStatusSoapIn" />
      <wsdl:output message="tns:GetOrderStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFuelOrigins">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to get fuel origins</wsdl:documentation>
      <wsdl:input message="tns:GetFuelOriginsSoapIn" />
      <wsdl:output message="tns:GetFuelOriginsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorFuelContractsByDestination">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to get contract details</wsdl:documentation>
      <wsdl:input message="tns:GetVendorFuelContractsByDestinationSoapIn" />
      <wsdl:output message="tns:GetVendorFuelContractsByDestinationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelNonInventoryOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to cancel a non-inventory order</wsdl:documentation>
      <wsdl:input message="tns:CancelNonInventoryOrderSoapIn" />
      <wsdl:output message="tns:CancelNonInventoryOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddWarehouseOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to add a warehouse order</wsdl:documentation>
      <wsdl:input message="tns:AddWarehouseOrderSoapIn" />
      <wsdl:output message="tns:AddWarehouseOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWarehouseOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to update a warehouse order</wsdl:documentation>
      <wsdl:input message="tns:UpdateWarehouseOrderSoapIn" />
      <wsdl:output message="tns:UpdateWarehouseOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelWarehouseOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to cancel a warehouse order</wsdl:documentation>
      <wsdl:input message="tns:CancelWarehouseOrderSoapIn" />
      <wsdl:output message="tns:CancelWarehouseOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseOrders">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web method is used to get warehouse orders</wsdl:documentation>
      <wsdl:input message="tns:GetWarehouseOrdersSoapIn" />
      <wsdl:output message="tns:GetWarehouseOrdersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PDIEnterpriseWebSoap" type="tns:PDIEnterpriseWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMasterData">
      <soap:operation soapAction="http://profdata.com.Petronet/GetMasterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMasterDataUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerCreditCheck">
      <soap:operation soapAction="http://profdata.com.Petronet/CustomerCreditCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CustomerCreditCheckUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFuelOrder">
      <soap:operation soapAction="http://profdata.com.Petronet/AddFuelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddFuelOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFuelOrder">
      <soap:operation soapAction="http://profdata.com.Petronet/UpdateFuelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateFuelOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFuelLoad">
      <soap:operation soapAction="http://profdata.com.Petronet/UpdateFuelLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateFuelLoadUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFuelOrderToLoad">
      <soap:operation soapAction="http://profdata.com.Petronet/AddFuelOrderToLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddFuelOrderToLoadUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNonInventoryOrder">
      <soap:operation soapAction="http://profdata.com.Petronet/AddNonInventoryOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddNonInventoryOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelFuelOrder">
      <soap:operation soapAction="http://profdata.com.Petronet/CancelFuelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CancelFuelOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuelOrders">
      <soap:operation soapAction="http://profdata.com.Petronet/GetFuelOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetFuelOrdersUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuelLoads">
      <soap:operation soapAction="http://profdata.com.Petronet/GetFuelLoads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetFuelLoadsUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrderAuditMessage">
      <soap:operation soapAction="http://profdata.com.Petronet/AddOrderAuditMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddOrderAuditMessageUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatus">
      <soap:operation soapAction="http://profdata.com.Petronet/GetOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOrderStatusUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuelOrigins">
      <soap:operation soapAction="http://profdata.com.Petronet/GetFuelOrigins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetFuelOriginsUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorFuelContractsByDestination">
      <soap:operation soapAction="http://profdata.com.Petronet/GetVendorFuelContractsByDestination" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetVendorFuelContractsByDestinationUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelNonInventoryOrder">
      <soap:operation soapAction="http://profdata.com.Petronet/CancelNonInventoryOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CancelNonInventoryOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWarehouseOrder">
      <soap:operation soapAction="http://profdata.com.Petronet/AddWarehouseOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddWarehouseOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWarehouseOrder">
      <soap:operation soapAction="http://profdata.com.Petronet/UpdateWarehouseOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateWarehouseOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelWarehouseOrder">
      <soap:operation soapAction="http://profdata.com.Petronet/CancelWarehouseOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CancelWarehouseOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseOrders">
      <soap:operation soapAction="http://profdata.com.Petronet/GetWarehouseOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetWarehouseOrdersUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PDIEnterpriseWebSoap12" type="tns:PDIEnterpriseWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMasterData">
      <soap12:operation soapAction="http://profdata.com.Petronet/GetMasterData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMasterDataUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerCreditCheck">
      <soap12:operation soapAction="http://profdata.com.Petronet/CustomerCreditCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CustomerCreditCheckUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFuelOrder">
      <soap12:operation soapAction="http://profdata.com.Petronet/AddFuelOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddFuelOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFuelOrder">
      <soap12:operation soapAction="http://profdata.com.Petronet/UpdateFuelOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateFuelOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFuelLoad">
      <soap12:operation soapAction="http://profdata.com.Petronet/UpdateFuelLoad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateFuelLoadUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFuelOrderToLoad">
      <soap12:operation soapAction="http://profdata.com.Petronet/AddFuelOrderToLoad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddFuelOrderToLoadUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNonInventoryOrder">
      <soap12:operation soapAction="http://profdata.com.Petronet/AddNonInventoryOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddNonInventoryOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelFuelOrder">
      <soap12:operation soapAction="http://profdata.com.Petronet/CancelFuelOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CancelFuelOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuelOrders">
      <soap12:operation soapAction="http://profdata.com.Petronet/GetFuelOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetFuelOrdersUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuelLoads">
      <soap12:operation soapAction="http://profdata.com.Petronet/GetFuelLoads" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetFuelLoadsUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrderAuditMessage">
      <soap12:operation soapAction="http://profdata.com.Petronet/AddOrderAuditMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddOrderAuditMessageUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatus">
      <soap12:operation soapAction="http://profdata.com.Petronet/GetOrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOrderStatusUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuelOrigins">
      <soap12:operation soapAction="http://profdata.com.Petronet/GetFuelOrigins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetFuelOriginsUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorFuelContractsByDestination">
      <soap12:operation soapAction="http://profdata.com.Petronet/GetVendorFuelContractsByDestination" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetVendorFuelContractsByDestinationUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelNonInventoryOrder">
      <soap12:operation soapAction="http://profdata.com.Petronet/CancelNonInventoryOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CancelNonInventoryOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWarehouseOrder">
      <soap12:operation soapAction="http://profdata.com.Petronet/AddWarehouseOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddWarehouseOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWarehouseOrder">
      <soap12:operation soapAction="http://profdata.com.Petronet/UpdateWarehouseOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateWarehouseOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelWarehouseOrder">
      <soap12:operation soapAction="http://profdata.com.Petronet/CancelWarehouseOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CancelWarehouseOrderUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseOrders">
      <soap12:operation soapAction="http://profdata.com.Petronet/GetWarehouseOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetWarehouseOrdersUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PDIEnterpriseWeb">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PDI Enterprise Web Service</wsdl:documentation>
    <wsdl:port name="PDIEnterpriseWebSoap" binding="tns:PDIEnterpriseWebSoap">
      <soap:address location="https://parklandusaapi.pdi-cloud.com/CustomerPortalTest/pdienterpriseweb.asmx" />
    </wsdl:port>
    <wsdl:port name="PDIEnterpriseWebSoap12" binding="tns:PDIEnterpriseWebSoap12">
      <soap12:address location="https://parklandusaapi.pdi-cloud.com/CustomerPortalTest/pdienterpriseweb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>