TFScode/SiteFuel.Exchange/SiteFuel.Exchange.SourceCode/SiteFuel.Exchange.Domain/Web References/AvaTaxExciseWebService/AvaTaxExcise.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://excise.avalara.net/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://excise.avalara.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://excise.avalara.net/">
      <s:element name="ProcessTransactions_5_22_0">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactions" type="tns:ArrayOfTransaction_5_22_0" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransaction_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transaction_5_22_0" nillable="true" type="tns:Transaction_5_22_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transaction_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionLines" type="tns:ArrayOfTransactionLine_5_22_0" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionExchangeRates" type="tns:ArrayOfTransactionExchangeRate_5_22_0" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EffectiveDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FuelUseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleTransferCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransportationModeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Seller" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Buyer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PreviousSeller" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NextBuyer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Middleman" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomsStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormAPresentedInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SimplifiedProcedureInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Incoterms" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PerspectiveBusinessType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChainLeg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalDyedUnits" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalReportingTaxes" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportingCurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserTranId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceSystem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric1" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric2" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric3" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="SaveTransactionInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DebugInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CalculationMethod" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionLine_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionLine_5_22_0" nillable="true" type="tns:TransactionLine_5_22_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionLine_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionLineMeasures" type="tns:ArrayOfTransactionLineMeasure_5_22_0" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginSpecialJurisdictions" type="tns:ArrayOfTransactionLineJurisdiction_5_22_0" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationSpecialJurisdictions" type="tns:ArrayOfTransactionLineJurisdiction_5_22_0" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleSpecialJurisdictions" type="tns:ArrayOfTransactionLineJurisdiction_5_22_0" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceLine" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MovementStartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MovementEndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BlendToProductCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NetUnits" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GrossUnits" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BilledUnits" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LineAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="BillOfLadingNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BillOfLadingDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginJurisdiction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginCounty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginOutCityLimitInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginSpecialJurisdictionInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginExciseWarehouse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationJurisdiction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationCounty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationOutCityLimitInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationSpecialJurisdictionInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationExciseWarehouse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleJurisdiction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleCounty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalePostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleOutCityLimitInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleSpecialJurisdictionInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleExciseWarehouse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterJurisdiction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterCounty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterParty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterOutCityLimitInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterSpecialJurisdictionInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterExciseWarehouse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterFiscalRepInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserData" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AlternativeFuelContent" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BlendToAltFuelContent" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="BlendToInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitOfMeasure" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FreightUnitPrice" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="FreightType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FreightLineAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric1" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric2" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric3" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NthTimeSale" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionLineMeasure_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionLineMeasure_5_22_0" nillable="true" type="tns:TransactionLineMeasure_5_22_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionLineMeasure_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="QuantityInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitOfMeasure" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MeasureValue" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionLineJurisdiction_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionLineJurisdiction_5_22_0" nillable="true" type="tns:TransactionLineJurisdiction_5_22_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionLineJurisdiction_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SpecialJurisdictionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecialJurisdictionType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionExchangeRate_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionExchangeRate_5_22_0" nillable="true" type="tns:TransactionExchangeRate_5_22_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionExchangeRate_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FromCurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToCurrency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EffectiveDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ConversionFactor" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessTransactions_5_22_0Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessTransactions_5_22_0Result" type="tns:TransactionResultSummary_5_22_0" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransactionResultSummary_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionResults" type="tns:ArrayOfTransactionResult_5_22_0" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberProcessed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberSuccess" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberFailed" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionResult_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionResult_5_22_0" nillable="true" type="tns:TransactionResult_5_22_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionResult_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserTranId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TranId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalTaxAmount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionTaxes" type="tns:ArrayOfTransactionTax_5_22_0" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionErrors" type="tns:ArrayOfTransactionError_5_22_0" />
          <s:element minOccurs="0" maxOccurs="1" name="UserReturnValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionTax_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionTax_5_22_0" nillable="true" type="tns:TransactionTax_5_22_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionTax_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionTaxAmounts" type="tns:ArrayOfTransactionTaxAmount_5_22_0" />
          <s:element minOccurs="1" maxOccurs="1" name="SequenceId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionLine" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceLine" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Jurisdiction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalJurisdiction" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductCategory" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxingLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RateType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RateSubtype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CalculationTypeInd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxRate" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxQuantity" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxExemptionInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeferredInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PayableToCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SalesTaxBaseAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserReturnedValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ScenarioId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ScenarioTaxGroupId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ScenarioSequence" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RateDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitOfMeasure" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubtotalInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QuantityInd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportingTaxAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportingTaxCurrency" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionTaxAmount_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionTaxAmount_5_22_0" nillable="true" type="tns:TransactionTaxAmount_5_22_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionTaxAmount_5_22_0">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SequenceId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionError_5_22_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionError_5_22_0" nillable="true" type="tns:TransactionError_5_22_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionError_5_22_0">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SequenceId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorLevelInd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionLine" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessTransactions_5_27_0">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactions" type="tns:ArrayOfTransaction_5_27_0" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransaction_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transaction_5_27_0" nillable="true" type="tns:Transaction_5_27_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transaction_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionLines" type="tns:ArrayOfTransactionLine_5_27_0" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionExchangeRates" type="tns:ArrayOfTransactionExchangeRate_5_27_0" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EffectiveDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FuelUseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleTransferCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransportationModeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Seller" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Buyer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PreviousSeller" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NextBuyer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Middleman" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomsStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormAPresentedInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SimplifiedProcedureInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Incoterms" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PerspectiveBusinessType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChainLeg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalDyedUnits" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalReportingTaxes" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportingCurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserTranId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceSystem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric1" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric2" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric3" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DebugInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CalculationMethod" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionLine_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionLine_5_27_0" nillable="true" type="tns:TransactionLine_5_27_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionLine_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionLineMeasures" type="tns:ArrayOfTransactionLineMeasure_5_27_0" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginSpecialJurisdictions" type="tns:ArrayOfTransactionLineJurisdiction_5_27_0" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationSpecialJurisdictions" type="tns:ArrayOfTransactionLineJurisdiction_5_27_0" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleSpecialJurisdictions" type="tns:ArrayOfTransactionLineJurisdiction_5_27_0" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceLine" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MovementStartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MovementEndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BlendToProductCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NetUnits" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GrossUnits" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BilledUnits" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LineAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="BillOfLadingNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BillOfLadingDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginJurisdiction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginCounty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginOutCityLimitInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginSpecialJurisdictionInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginExciseWarehouse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginAirportCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationJurisdiction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationCounty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationOutCityLimitInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationSpecialJurisdictionInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationExciseWarehouse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationAirportCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleJurisdiction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleCounty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalePostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleOutCityLimitInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleSpecialJurisdictionInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleExciseWarehouse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleAirportCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterJurisdiction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterCounty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterParty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterOutCityLimitInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterSpecialJurisdictionInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterExciseWarehouse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterFiscalRepInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CounterAirportCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserData" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AlternativeFuelContent" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BlendToAltFuelContent" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="BlendToInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitOfMeasure" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FreightUnitPrice" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="FreightType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FreightLineAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric1" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric2" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric3" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NthTimeSale" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionLineMeasure_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionLineMeasure_5_27_0" nillable="true" type="tns:TransactionLineMeasure_5_27_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionLineMeasure_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="QuantityInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitOfMeasure" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MeasureValue" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionLineJurisdiction_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionLineJurisdiction_5_27_0" nillable="true" type="tns:TransactionLineJurisdiction_5_27_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionLineJurisdiction_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SpecialJurisdictionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecialJurisdictionType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionExchangeRate_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionExchangeRate_5_27_0" nillable="true" type="tns:TransactionExchangeRate_5_27_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionExchangeRate_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FromCurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToCurrency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EffectiveDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ConversionFactor" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessTransactions_5_27_0Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessTransactions_5_27_0Result" type="tns:TransactionResultSummary_5_27_0" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransactionResultSummary_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionResults" type="tns:ArrayOfTransactionResult_5_27_0" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberProcessed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberSuccess" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberFailed" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionResult_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionResult_5_27_0" nillable="true" type="tns:TransactionResult_5_27_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionResult_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserTranId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TranId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalTaxAmount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionTaxes" type="tns:ArrayOfTransactionTax_5_27_0" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionErrors" type="tns:ArrayOfTransactionError_5_27_0" />
          <s:element minOccurs="0" maxOccurs="1" name="UserReturnValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionTax_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionTax_5_27_0" nillable="true" type="tns:TransactionTax_5_27_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionTax_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionTaxAmounts" type="tns:ArrayOfTransactionTaxAmount_5_27_0" />
          <s:element minOccurs="1" maxOccurs="1" name="SequenceId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionLine" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceLine" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Jurisdiction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalJurisdiction" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductCategory" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxingLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RateType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RateSubtype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CalculationTypeInd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxRate" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxQuantity" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxExemptionInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeferredInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PayableToCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SalesTaxBaseAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserReturnedValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ScenarioId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ScenarioTaxGroupId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ScenarioSequence" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RateDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitOfMeasure" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubtotalInd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QuantityInd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportingTaxAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportingTaxCurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomString3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric1" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric2" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomNumeric3" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionTaxAmount_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionTaxAmount_5_27_0" nillable="true" type="tns:TransactionTaxAmount_5_27_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionTaxAmount_5_27_0">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SequenceId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionError_5_27_0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionError_5_27_0" nillable="true" type="tns:TransactionError_5_27_0" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionError_5_27_0">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SequenceId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorLevelInd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionLine" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessTransactions_5_22_0SoapIn">
    <wsdl:part name="parameters" element="tns:ProcessTransactions_5_22_0" />
  </wsdl:message>
  <wsdl:message name="ProcessTransactions_5_22_0SoapOut">
    <wsdl:part name="parameters" element="tns:ProcessTransactions_5_22_0Response" />
  </wsdl:message>
  <wsdl:message name="ProcessTransactions_5_27_0SoapIn">
    <wsdl:part name="parameters" element="tns:ProcessTransactions_5_27_0" />
  </wsdl:message>
  <wsdl:message name="ProcessTransactions_5_27_0SoapOut">
    <wsdl:part name="parameters" element="tns:ProcessTransactions_5_27_0Response" />
  </wsdl:message>
  <wsdl:portType name="AvaTaxExciseSoap">
    <wsdl:operation name="ProcessTransactions_5_22_0">
      <wsdl:input message="tns:ProcessTransactions_5_22_0SoapIn" />
      <wsdl:output message="tns:ProcessTransactions_5_22_0SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessTransactions_5_27_0">
      <wsdl:input message="tns:ProcessTransactions_5_27_0SoapIn" />
      <wsdl:output message="tns:ProcessTransactions_5_27_0SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AvaTaxExciseSoap" type="tns:AvaTaxExciseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessTransactions_5_22_0">
      <soap:operation soapAction="https://excise.avalara.net/ProcessTransactions_5_22_0" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessTransactions_5_27_0">
      <soap:operation soapAction="https://excise.avalara.net/ProcessTransactions_5_27_0" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AvaTaxExciseSoap12" type="tns:AvaTaxExciseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessTransactions_5_22_0">
      <soap12:operation soapAction="https://excise.avalara.net/ProcessTransactions_5_22_0" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessTransactions_5_27_0">
      <soap12:operation soapAction="https://excise.avalara.net/ProcessTransactions_5_27_0" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AvaTaxExcise">
    <wsdl:port name="AvaTaxExciseSoap" binding="tns:AvaTaxExciseSoap">
      <soap:address location="https://localhost:4329/Determination/AvaTaxExcise.asmx" />
    </wsdl:port>
    <wsdl:port name="AvaTaxExciseSoap12" binding="tns:AvaTaxExciseSoap12">
      <soap12:address location="https://localhost:4329/Determination/AvaTaxExcise.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>